.nav {
    background-color: #457b9d !important;
    line-height: 28px;
}

a {
    color: #f1faee !important;
}

.nav-link {
    background-color: #457b9d !important;
}

.project-image {
    background-image:url('https://github.com/chris-noriega14/Updated_Portfolio_2/blob/main/Assets/images/trip-tunes.PNG?raw=true') !important;
    background-size: contain !important;
    background-size: 100% !important;
}

.img-container {
    display: inline !important;
}

.contact-link {
    color: blue !important;
}

.footer--pin {
    position: relative !important;
    left: 0 !important;
    bottom: 0 !important;
  }
